<main>
  <app-nav></app-nav>
  <div class="main-container">
    <div class="m-0 vh-100 row justify-content-center align-items-center">
      <div class="login">
          <div>
            <h1 style="font-family: JuliusSansOne">inicio sesion</h1>
          </div>

          <form  [formGroup]="logiForm" (ngSubmit)="onLogin(logiForm.value)">
            <div class="group">
              <input type="e-mail" required formControlName="email"/>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Correo</label>
            </div>

            <div class="group">
              <input placeholder="" type="password" id="password" required formControlName="contrasena"/>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label for="password">Contraseña  </label>
                <div class="col ">
                  <a  type="button" id="password" (click)="mostrar()">{{texto}}</a>
                </div>
            </div>
            

            <button type="submit" class="btn btn-light btn-lg"
            style="
              padding-left: 0.8rem;
              padding-right: 0.8rem;
              height: 50px;
              width: 200px;
              background: 3B0C04;
              border: 0ch;
            ">Login</button>
            
          </form>

          <div class="row justify-content-center align-items-center ">

            <div class="col-md-6" >
              <!-- Simple link -->
              <a style="color: black; font-size: 75%;" href="#!"
                > forgot password?
              </a>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
              <!-- Simple link -->
              <a style="text-decoration: none; color: black; " href="#!">Registrarse</a>
            </div>
          </div>

        </div>
      
    </div>
  </div>
</main>

