
<app-nav></app-nav>
<body>
    <section>
    <div class=" container w-70 mt-5 rounded ">
        <div class=" row  align-items-stretch">

            <div class="colorImage  m-1 col ">
    
                <div class="prueba">
                    <div class="image-preview" id="imagePreview">
                        <img src="" alt="Image Preview" class="image-preview--image">
                        <app-img *ngIf="producCreat.imagen" [img]="producCreat.imagen"></app-img>
                        <span class="image-preview--default-text">Image preview</span>
                    </div>
                        <span>{{producCreat.nombre_producto}}</span>
                        <span>{{producCreat.precio_producto}}</span>
                        <span>{{producCreat.descripcion}}</span>
                        
                </div>
                
            </div>

            <div class="colorForm m-1 col p-2  "style="">

                <div class="container w-100 my-5">

                    <div class="row">
                        <div class="container">
                            <div class="abs-center">
                    
                                <form  [formGroup]="formulario" (ngSubmit)="crearProducto(formulario.value)">
                    
                                    <h2 class=" text-center" style="font-family: JuliusSansOne">Subir Producto</h2>

                                    <div class="group form-group">
                                        <input type="text" id="InputNombre" required  formControlName="nombre_producto">
                                        <span class=" highlight"></span>
                                        <span class="bar"></span>
                                        <label>Nombre</label>
                                        
                                    </div>
                    
                                    <div class="group">
                                        <input type="text" id="InputPrecio" required formControlName="precio_producto">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Precio</label>
                                    </div>

                                    <div class="group">
                                        <input type="number" id="InputPrecio" required formControlName="cantidad">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>cantidad</label>
                                    </div>
                                    <div>
                                        <label for="lang">Lenguaje</label>
                                        <select>
                                            <option value="0" selected>SELECCIONE UNA CATEGORIA</option>
                                            <option id="lang" *ngFor="let item of categoria ">{{item.nombre_categoria}}</option>
                                        </select>
                            
                                    </div>
                                    <!--
                                    <div class="group">
                                        <input type="number" id="InputPrecio" required formControlName="id_categoria">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>categoria</label>
                                    </div>
                                    -->
                                    <div class="mb-3">
                                        <textarea class="form-control" placeholder="Descripcion del producto..." id="exampleFormControlTextarea1" rows="3" formControlName="descripcion"></textarea>
                                    </div>
                                    <!---------------------------------------------->

                                    <div class="form-group">
                                        <label for="file">File</label>
                                        <input 
                                            formControlName="file"
                                            id="file" 
                                            type="file" 
                                            class="form-control"
                                            (change)="onFileChange($event)">
                                    </div>
                    
                                    <button type="submit" class="btn text-light my-4" style="margin-left: 35%; background-color: rgba(59,12,4);"  value="crearProducto()">Subir Productos</button>
                                    
                                </form>
                                <button type="submit" class="btn text-light my-4" style="margin-left: 35%; background-color: rgba(59,12,4);"  (click)="limpiarCampos()">Nuevo</button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>



