
<app-nav></app-nav>
<body>
    <section style="background: -webkit-radial-gradient(#e1e1e1);">
    <div class="container w-70 mt-5 rounded shadow "style="background-color: #faf0ff;">
        <div class="row  align-items-stretch">

            <div class="col ">
    
                <div class="prueba">
                    
                        <app-img *ngIf="producCreat.image" [img]="producCreat.image"></app-img>
                        <span>{{producCreat.name}}</span>
                        <span>{{producCreat.price}}</span>
                        <span>{{producCreat.description}}</span>
                        
                </div>
                
            </div>

            <div class="col bg-white p-2 rounded-2 "style="background-color: #faf0ff;">

                <div class="container w-100 my-5">

                    <div class="row">
                        <div class="container">
                            <div class="abs-center">
                    
                                <form action="#" [formGroup]="formulario" (ngSubmit)="crearProducto(formulario.value)">
                    
                                    <span>Subir Producto</span>

                                    <div class="form-group">
                                        <label for="exampleInputImagen"> <span class="titleForm">Imagen</span></label>
                                        <input type="text" class="form-control" id="exampleInputImagen" placeholder="Url de imagen" formControlName="image">
                                    </div>
                    
                                    <div class="form-group">
                                        <label for="exampleInputNombre"> <span class="titleForm">Nombre</span></label>
                                        <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="nombreHelp" placeholder="Nombre Producto" formControlName="name">
                                        <small id="nombreHelp" class="form-text text-muted"></small>
                                    </div>
                    
                                    <div class="form-group">
                                        <label for="exampleInputPrecio"> <span class="titleForm">Precio</span></label>
                                        <input type="text" class="form-control" id="exampleInputPrecio" placeholder="Precio" formControlName="price">
                                    </div>
                    
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label"> <span class="titleForm">Descripcion</span> </label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descripcion del producto..." formControlName="description"></textarea>
                                    </div>
                    
                                    <button type="submit" class="btn btn-primary" value="crearProducto()">Subir Productos</button>
                                </form>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>



