body {
    display: grid;
    place-items: center;
}

.titulo {
    text-align: center;
}

.container {
    position: relative;
}

.vaciar {
    background-color: rgb(228, 41, 41);
}

.comprar {
    margin-top: 40px;
}

.uno2 {
    text-align: center;
}

.table {
    text-align: center;
    place-items: center;
    border-collapse: separate;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 500ms ease-in-out;
}

.cantidad {
    text-align: left;
}