<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" 
              name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img  class="img-fluid" style="object-fit: cover;" src="https://wowslider.com/sliders/demo-80/data1/images/sheet546475_1920.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-2" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="https://wowslider.com/sliders/demo-80/data1/images/plumage176723_1920.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-3" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="https://assets.imgix.net/examples/redleaf.jpg?usm=20&auto=format%2Cenhance&fit=crop&h=300&w=800">
        </div>

        <input class="slide-open" type="radio" id="slide-4" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="https://wowslider.com/sliders/demo-73/data1/images/leaf.jpg">
        </div>

        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-1" class="slide-control next control-4">›</label>

        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>

        <label for="slide-3" class="slide-control prev control-4">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        
        <label for="slide-4" class="slide-control prev control-1">‹</label>
        <label for="slide-4" class="slide-control next control-3">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-4" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>