

    <section class="form_wrap">

        <section class="cantact_info">
            <section class="info_title">
                <span class="fa fa-user-circle"></span>
                <h2>INFORMACION<br>DE CONTACTO</h2>
            </section>
            <section class="info_items">
                <p><span class="fa fa-envelope"></span> info.contact@gmail.com</p>
                <p><span class="fa fa-mobile"></span> +1(585) 902-8665</p>
            </section>
        </section>

        <form [formGroup]="formulario" (ngSubmit)="actualizarUser(formulario.value)">
            <h2>Envia un mensaje</h2>
            <div class="user_info">

                <label for="nombre">Nombres *</label>
                <input type="text" id="nombres" formControlName="nombre" value ="{{usuario.nombre}}">

                <label for="correo">Correo electronico *</label>
                <input type="text" id="correo" formControlName="correo" value ="{{usuario.correo}}">

                <label for="ciudad">Ciudad</label>
                <input type="text" id="ciudad" formControlName="ciudad" value ="{{usuario.ciudad}}">

                <label for="direccion">Direccion</label>
                <input type="text" id="direccion" formControlName="direccion" value ="{{usuario.direccion}}">

                <label for="telefono">Telefono / Celular</label>
                <input type="text" id="telefono" formControlName="telefono" value ="{{usuario.telefono}}">


                


                <br>
                <br>
                <br>
                


                <button type="submit"  id="btnSend" value="actualizarUser()">enviar</button>
            </div>
        </form>


    </section>



