



        <form [formGroup]="formulario" (ngSubmit)="actualizarUser(formulario.value)">
            <h2>Envia un mensaje</h2>
            <div class="user_info">

                <label for="nombre">Nombres *</label>
                <input type="text" id="nombres" formControlName="nombre">

                <label for="correo">Correo electronico *</label>
                <input type="text" id="correo" formControlName="correo" >

                <label for="ciudad">Ciudad</label>
                <input type="text" id="ciudad" formControlName="ciudad" >

                <label for="direccion">Direccion</label>
                <input type="text" id="direccion" formControlName="direccion">

                <label for="telefono">Telefono / Celular</label>
                <input type="text" id="telefono" formControlName="telefono" >


                <button type="submit"  id="btnSend" value="actualizarUser()">enviar</button>
                <button type="submit"  id="eliminar" (click)="eliminar()">eliminar</button>
            </div>
        </form>



