
.foto{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

#contenedorPerfil{
  display: flex;
  flex-direction: row;
  gap: 10%;
  margin: 0 0 0 15px;
}

/*Barra de busqueda*/

.buscar {
  position: relative;
  padding: 5px;
}

.buscar input {
  width: 0;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #222;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;
}

.btn {
  width: 48px;
  height: 48px;
  line-height: 45px;
  top: 0;
  right: 0;
  position:absolute;
  background: #fefdfe00;
  text-align: center;
  color: rgb(14, 13, 13);
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.buscar:hover input {
  width: 240px;
}

.buscar input:focus {
  width: 240px;
}
