<body>
  <main>
      <app-nav></app-nav>
    <script src="./js/bootstrap.bundle.min.js"></script>
    
    <form class="mt-5 rounded shadow" [formGroup]="registroF" (ngSubmit)="crearUsuario(registroF.value)" >
      <h1 class="mt-4">Registro</h1>

        <div class="col-8">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="name" class="form-control" id="nombre" formControlName="nombre">
        </div>

        <div class="col-8">
          <label for="correo" class="form-label">Email</label>
          <input type="text" class="form-control" id="correo" placeholder="jliana@gmail.com" formControlName="email">
        </div>
        <div class="col-8">
          <label for="contraseña" class="form-label">Password</label>
          <input type="password" class="form-control" id="contraseña" placeholder="Password" formControlName="contrasena">
        </div>
        
        <div class="col-8">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Acepto terminos y condiciones
            </label>
          </div>
        </div>
        <div class="col-8">
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
        <br>
        <div class="my-3">
          <span>Inicia tu sesion <a href="http://localhost:4200/login">Iniciar sesion</a></span> <br>
      </div>
      </form>
  </main>

</body>





