<body>
  <main>
      <app-nav></app-nav>
    <script src="./js/bootstrap.bundle.min.js"></script>
    
    <form class="mt-5 rounded shadow" [formGroup]="registroF" (ngSubmit)="crearUsuario(registroF.value)" >
      <h1 class="mt-4">Registro</h1>
        <div class="col-8">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="name" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="col-8">
          <label for="documento" class="form-label">Documento</label>
          <input type="number" class="form-control" id="documento" placeholder="C.C" formControlName="cc">
        </div>
        <div class="col-8">
          <label for="correo" class="form-label">Email</label>
          <input type="text" class="form-control" id="correo" placeholder="jliana@gmail.com" formControlName="email">
        </div>
        <div class="col-8">
          <label for="contraseña" class="form-label">Password</label>
          <input type="password" class="form-control" id="contraseña" placeholder="Password" formControlName="contrasena">
        </div>
        <div class="col-8">
            <label for="inputState" class="form-label">Departamento</label>
            <select id="inputState" class="form-select" formControlName="departamento">
              <option selected>Opcion...</option>
              <option>Amazonas</option>
              <option>Antioquia</option>
              <option>Arauca</option>
              <option>Atlantico</option>
              <option>Bolivar</option>
              <option>Boyacá</option>
              <option>Caldas</option>
              <option>Caquetá</option>
              <option>Casanare</option>
              <option>Cauca</option>
              <option>Cesar</option>
              <option>Chocó</option>
              <option>Córdoba</option>
              <option>Cundinamarca</option>
              <option>Guainía</option>
              <option>Guaviare</option>
              <option>Huila</option>
              <option>La Guajira</option>
              <option>Magdalena</option>
              <option>Meta</option>
              <option>Nariño</option>
              <option>Norte de Santander</option>
              <option>Putumayo</option>
              <option>Quindio</option>
              <option>Risaralda</option>
              <option>San Andres y Providencia</option>
              <option>Santander</option>
              <option>Sucre</option>
              <option>Tolima</option>
              <option>Valle del Cauca</option>
              <option>Vaupés</option>
              <option>Vichada</option>
            </select>
          </div>
        <div class="col-8">
          <label for="municipio" class="form-label">Municipio</label>
          <input type="text" class="form-control" id="municipio" formControlName="municipio">
        </div>
        <div class="col-8">
          <label for="direccion" class="form-label">Direccion</label>
          <input type="text" class="form-control" id="direccion" formControlName="direccion">
        </div>
        <div class="col-8">
          <label for="telefono" class="form-label">Telefono</label>
          <input type="number" class="form-control" id="telefono" formControlName="telefono">
        </div>
        
        <div class="col-8">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Acepto terminos y condiciones
            </label>
          </div>
        </div>
        <div class="col-8">
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
        <br>
        <div class="my-3">
          <span>Inicia tu sesion <a href="http://localhost:4200/login">Iniciar sesion</a></span> <br>
      </div>
      </form>
  </main>

</body>




<!--

<h1>Reagistro</h1>
<button (click)="getAllTasks()">getAllTasks()</button>
<button (click)="crearUsuario()">crear crearUsuario</button>
<form [formGroup]="registroF" (ngSubmit)="crearUsuario(registroF.value)">
    <label for="">ingrese cc</label>
    <input type="number" formControlName="cc">
    <br><br>
    <label for="">nombre</label>
    <input type="text"formControlName="nombre">
    <br><br>
    <label for="">email</label>
    <input type="text"formControlName="email">
    <br><br>
    <label for="">contrasena</label>
    <input type="password" formControlName="contrasena">
    <br><br>
    <label for="">departamento</label>
    <input type="text" formControlName="departamento">
    <br><br>
    <label for="">municipio</label>
    <input type="text" formControlName="municipio">
    <br><br>
    <label for="">direccion</label>
    <input type="text" formControlName="direccion">
    <button type="submit">crear crearUsuario</button>
</form>
-->
