

<main>
  <app-nav></app-nav>
  <div class="main-container">
    <div class="m-0 vh-100 row justify-content-center align-items-center">
      <div class="registro">
          <div>
            <h1 style="font-family: JuliusSansOne">registro</h1>
          </div>

          <form   [formGroup]="registroF" (ngSubmit)="crearUsuario(registroF.value)">

            <div class="group">
              <input type="nombre" required formControlName="nombre"/>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>nombre</label>
            </div>

            <div class="group">
              <input type="e-mail" required formControlName="email"/>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Correo</label>
            </div>

            <div class="group">
              <input placeholder="" type="password" id="password" required formControlName="contrasena"/>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label for="password">Contraseña  </label>
                
            </div>

            <div class="botones">
              <button type="submit" class="btn btn-light btn-lg"
              style="
                padding-left: 0.8rem;
                padding-right: 0.9rem;
                height: 50px;
                width: 150px;
                background: 3B0C04;
                border: 0ch;
              ">registrarse</button>
              <button type="submit" class="btn btn-light btn-lg"
              style="
                padding-left: 0.8rem;
                padding-right: 0.8rem;
                height: 50px;
                width: 150px;
                background: 3B0C04;
                border: 0ch;
                margin: 0 0 0 7px;
              ">iniciar sesion</button>
            </div>
            
            
          </form>

        

        </div>
      
    </div>
  </div>
</main>






