<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No-Factura</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Valor</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturas" (click)="mostrarFactura(factura.id_compra)">
        <th scope="row">{{factura.id_compra}}</th>
        <td>{{factura.nombre_proveedor}}</td>
        <td>{{factura.valor}}</td>
        <td>{{factura.fecha}}</td>
      </tr>
    </tbody>
  </table>
